# Pytest
.cache
.pytest_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# Environment files
.env

# Jupyter Notebook
.ipynb_checkpoints

# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Personal
.DS_Store
NOTES.md
TODO.md